.password-view {
  @include background('/assets/img/typing.jpg');
  @include position(center, center, column);
  input {
    @include font-default;
    @extend .white;
    width: 50%;
    margin-right: 20px;
    font-family: $font;
    font-size: 16px;
    text-align: center;
  }
}

.password-content {
  @include position(center, space-around, column);
  height: 25vh;
  div {
    display: flex;
    flex-direction: row;
  }
}