.login-view {
  @extend .matchmaker-view;
  div, button {
    margin-top: 20px; 
  }
}

.login-content {
  display: flex;
  h1 {
    margin-right: 20px;
  }
  input {
    @include font($defaultFont, 16px, white);
    width: 50%;
    margin-right: 20px;
    text-align: center;
  }
}
