.matchmaker-view { 
  @include background('/assets/img/los-angeles.jpg');
  @include position(center, center, column);
  background-color: #1a1a1a;
}

.matchmaker-container {
  display: flex;
  @include position(center, center, column);
}

.matchmaker-card {
  width: 400px;
}

.full-profile-image {
  border: 15px solid white;
  flex: 0.75;
  max-width: 100%;
  height: auto;
}

.matchmaker-info {
  background: white;
  padding: 0px 15px 15px 15px;
  width: 100%;
  margin-top: -5px;
  h3 {
    padding-bottom: 10px;
  }
}

.matchmaker-more-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  i {
    width: 75px;
  }
}

.heart-text {
  @include font($defaultFont, 1.5em, white);
  margin-left: -50px;
  margin-top: 10px;
}

.subreddit-list {
  color: black;
  width: 100%;
  margin-left: 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  span {
    @include font($defaultFont, 1em, black);
    padding: 5px 5px;
  }
}

.swipe {
  @extend .matchmaker-card;
  display: flex;
  justify-content: center;
  button {
    width: 204px;
    margin: 10px;
  }
}