.matches-view {
  @include background('/assets/img/new-york.jpg');
  @include position(space-around, center, row, wrap);
  padding-top: 100px;
  overflow-y: auto;
}


.match-card {
  width: 30%;
  margin: 15px;
}

.small-profile-wrapper {
  max-width: 100%;
  max-height: 400px;
  overflow: hidden;
  border: 15px solid white;
}

.small-profile-image {
  width: 100%;
  height: auto;
}

.match-info {
  background: white;
  padding: 0px 15px 15px 15px;
  width: 100%;
  margin-top: -5px;
  h3 {
    padding-bottom: 10px;
  }
}

.small-subreddit-list {
  @extend .subreddit-list;
  font-size: 0.9em;
}

.message {
  margin-top: 10px;
  margin-left: 40px;
  width: 80%;
}
