.navigation {
  @include position(center, space-between);
  background-color: black;
  width: 100%;
  h1 {
    font-size: 1.5rem;
    margin-left: -100px;
  }
  h2 {
    font-size: 0.75rem;
  }
}

.navigation-profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 0 1 auto;
  img {
    width: 40px;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.match-notification {
  @include position(center, center);
  width: 75px
}

.match-count {
  @extend .white;
  font-size: 0.75em;
  margin-left: -30px;
}

/***** Responsive Adjustments *****/

@media (max-width: $screen-sm-max) {
  .navigation { 
    @include position(flex-end, flex-start, column, wrap);
    h1 {
      font-size: 1rem;
    }
    h2 {
      font-size: 1.3rem;
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .navigation { 
    @include position(flex-end, flex-start, column, wrap);
    h1 {
      font-size: 1rem;
    }
    h2 {
      font-size: 1.3rem;
    }
  }
}
