.navigation {
  @include position(center, space-between);
  background-color: black;
  width: 100%;
  h2 {
    font-size: 20px;
    margin-left: -100px;
  }
}

.navigation-profile {
  display: flex;
  align-items: center;
  img {
    width: 40px;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.match-notification {
  @include position(center, center);
  width: 75px
}

.match-count {
  @extend .white;
  font-size: 0.75em;
  margin-left: -30px;
}