.profile-view {
  @include background('/assets/img/fireworks.jpg');
  display: flex;
  flex-direction: row;
}

.profile-left {
  width: 30%;
}

.profile-right {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.profile-row {
  @extend .row;
  i {
    padding: 0 20px 0 10px;
  }
}

.profile-section-lg {
  @include position(center, space-between, row);
  margin: 20px;
}

.profile-section-med {
  @extend .profile-section-lg;
  width: 70%;
}

.profile-section-sm {
  @extend .profile-section-lg;
  width: 50%;
}

.profile-image {
  position: relative;
  width: 100%;
  height:auto;
  border: 15px solid white;
  img {
    width:100%;
    vertical-align:top;
  }
}

.profile-image:after {
  content: url(/assets/img/camera.png);
  text-align: center;
  position: absolute;
  width: 100%; 
  bottom: 0; left: 0;
  background: rgba(255, 255, 255,0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.profile-image:hover:after {
  opacity: 1;
}

.change-photo {
  margin-top: 20px;
  padding: 50px; 
  text-align: center;
  border: 5px dashed $accentColor;
  width: 60%;
  height: 20%;
}

.change-photo:hover {
  @extend .change-photo;
  background-color: rgba(239, 97, 36, .2);
}

.submit-photo {
  @extend button;
  border: 2px solid black;
  margin-top: 20px;
  h2 {
    color: black; 
  }
}

.submit-photo:hover {
  border: 2px solid white;
  h2 {
    color: white;
  } 
}

.profile-subreddits {
  @include position(center, flex-start, row);
  padding: 20px;
}

.heart {
  float: left;
  width: 30px;
  align-self: flex-start;
  position: relative;
}

.heart-r {
  @include font($defaultFont, 1.5em, white);
  position: absolute;
  top: 10px;
  left: 12px; 
}

.my-subreddits { 
  width: 100%;
  padding: 0 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
  } 
  span {
    @include font($defaultFont, 1.2em, white, 300);
    padding: 5px 5px;
  }
}


/***** Responsive Adjustments *****/

@media (max-width: $screen-sm-max) {
  .profile-view { 
    flex-direction: column;
  }
  .profile-left {
    max-width: 100%;
  }
  .profile-subreddits {
    max-width: 100%;
    &:nth-child(n+5) { display: none; }
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .profile-view { 
    flex-direction: column;
  }
  .profile-left {
    max-width: 100%;
  }
  .profile-subreddits {
    max-width: 100%;
    &:nth-child(n+5) { display: none; }
  }
}