.profile-view {
  @include background('/assets/img/fireworks.jpg');
  display: flex;
  flex-direction: row;
}

.profile-left {
  width: 30%;
}

.profile-right {
  width: 70%;
}

.profile-row {
  @include position(center, center, row);
}

.profile-header {
  @include position(center, space-between, row);
  margin: 20px;
}

.profile-column {
  @include position(center, center, column);
}

.profile-image {
  position:relative;
  width:400px;
  height:auto;
  border: 15px solid white;
  img {
    width:100%;
    vertical-align:top;
  }
}

.profile-image:after {
    content: url(/assets/img/camera.png);
    text-align: center;
    position: absolute;
    width: 100%; height: -150px;
    top: 130px; left: 0;
    background: rgba(255, 255, 255,0.6);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.profile-image:hover:after {
    opacity: 1;
}

.change-photo {
  margin-top: 20px;
  padding: 50px; 
  text-align: center;
  border: 5px dashed $accentColor;
  width: 60%;
  height: 20%;
}

.change-photo:hover {
  @extend .change-photo;
  background-color: rgba(239, 97, 36, .2);
}

.submit-photo {
  @extend button;
  border: 2px solid black;
  margin-top: 20px;
  h2 {
    color: black; 
  }
}

.submit-photo:hover {
  border: 2px solid white;
  h2 {
    color: white;
  } 
}

.my-subreddits { 
  margin-left: 50px;
  width: 100%;
  ul {
    display: flex;
    flex-wrap: wrap;
  } 
  span {
    @include font($defaultFont, 1.2em, white, 300);
    padding: 5px 5px;
  }
}
