.signup-view {
  @include background('/assets/img/bonfire.jpg');
  @include position(center, center, column);
}

.signup-info {
  @include position(center, space-around, column)
  height: 100vh;
  padding: 75px 0;
    h1 {
      @include font($accentFont, 7rem, white, 300);
      text-transform: uppercase;
      line-height: 1;
    }
    button {
      @include font($defaultFont, 1rem, white);
      width: 100%;
      margin-top: 10px;
      text-transform: uppercase;
      cursor: pointer;
    }
}

.button-group {
  @include position(center, center, column, nowrap);
  form {
    width: 100%;
  }
}

/***** Responsive Adjustments *****/

@media (max-width: $screen-sm-max) {
  .signup-info h1 { font-size: 4rem; }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .signup-info h1 { font-size: 5rem; }
}

@media (min-width: $screen-lg-min) {
  .signup-info h1 { font-size: 6rem; }
}