version: '2'
services:
  web:
    image: reddi2mingle
    ports:
      - "80:80"
    volumes:
      - .:/usr/src/app
    depends_on:
      - neo4j
    command: npm start
    environment:
      - REDDIT_KEY=$REDDIT_KEY
      - REDDIT_SECRET=$REDDIT_SECRET
      - PORT=80
      - DEBUG=0
  neo4j:
    image: neo4j
    volumes:
      - ./docker:/docker-entrypoint-initdb.d
      # - $HOME/neo4j/data:/data \
    # command: /docker-entrypoint.sh neo4j
    environment: 
     - NEO4J_AUTH=neo4j/123456
    ports:
      - "7474:7474"
     