version: '2'
services:
  web:
    image: christinechou/web
    ports:
      - "80:80"
    volumes:
      - .:/usr/src/app
    links:
      - neo4j
      - users
      - redis
    command: npm run start
    environment:
      - REDDIT_KEY=$REDDIT_KEY
      - REDDIT_SECRET=$REDDIT_SECRET
      - PORT=80
      - DEBUG=0
  postgres:
    image: postgres
    volumes: 
      - $HOME/postgres/data:/postgresdata
    environment:  
      - POSTGRES_DB=reddi
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=cake
    ports:
      - "5432:5432"
  redis:
    image: redis
    ports:
      - "6379:6379"

  users:
    build: ../user-service
    image: christinechou/users
    links: 
      - postgres
      - neo4j
    ports:
      - "81:81"
    command: npm run start
    volumes:
      - ../user-service:/usr/src/users
    # command: npm run start:dev
    environment:
      - PORT=81
      - DEBUG=0
  neo4j:
    image: neo4j
    volumes: 
      - $HOME/neo4j/data:/neo4jdata
    environment: 
      - NEO4J_AUTH=$NEO4JUSERPW
    ports:
      - "7474:7474"



