version: '2'
services:
  web:
    build: .
    ports:
      - "80:80"
    volumes:
      - /usr/src/app/node_modules
      - .:/usr/src/app
    depends_on:
      - neo4j
    command: npm start
    environment:
      - REDDIT_KEY=$REDDIT_KEY
      - REDDIT_SECRET=$REDDIT_SECRET
      - PORT=80
      - DEBUG=0
  neo4j:
    image: neo4j
    volumes:
      - ./docker:/docker-entrypoint-initdb.d
      # - $HOME/neo4j/data:/data \
    command: /docker-entrypoint.sh neo4j
    ports:
      - "7475:7474"
     