version: '2'
services:
  web:
    image: christinechou/web
    ports:
      - "80:80"
    volumes:
      - .:/usr/src/app
    links:
      - neo4j
      - users
    command: npm run start:dev
    environment:
      - REDDIT_KEY=$REDDIT_KEY
      - REDDIT_SECRET=$REDDIT_SECRET
      - PORT=80
      - DEBUG=0
  users:
    build: ../user-service
    image: christinechou/users
    links: 
      - mysql
      - neo4j
    ports:
      - "81:81"
    command: npm run start:dev
    volumes:
      - ../user-service:/usr/src/users
    # command: npm run start:dev
    environment:
      - PORT=81
      - DEBUG=0
  neo4j:
    image: neo4j
    volumes: 
      - $HOME/neo4j/data:/neo4jdata
    environment: 
      - NEO4J_AUTH=neo4j/cake
    ports:
      - "7474:7474"

  mysql:
    image: mysql
    volumes: 
      - $HOME/mysql/data:/mysqldata
    environment:  
      - MYSQL_DATABASE=reddi2mingle
      - MYSQL_ROOT_PASSWORD=root
     #move pw outside of docker compose file
    ports:
      - "3306:3306"



