@import "reset.import.scss";
@import "variables.import.scss";
@import "mixins.import.scss";

/***** App-wide Styles *****/

h1 {
  font-family: $accentFont;
  font-size: 3em;
  color: white;
}

h2 {
  @include font-default;
  font-family: $font;
  text-transform: uppercase;
  color: white;
}


h3 {
  @include font-default;
  font-family: $font;
  text-transform: uppercase;
  color: black;
}

p {
  @include font-default;
  font-family: $font;
  color: black;
}

a {
  @include font-default;
  font-family: $font;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

button, input {
  border: 2px solid white;
  background: none;
  padding: 10px 30px;
}

button:hover {
  background-color: $accentColor;
}

.material-icons.md-48 { 
  font-size: 48px; 
}

.material-icons.orange { 
  color: $accentColor; 
}

.white {
  color: white;
}

.black {
  color: black;
}

.navigation {
  @include position(center, space-between);
  background-color: black;
  h2 {
    font-size: 20px;
  }
}

/***** Individual Components *****/
@import './components/signup.scss';
@import './components/createPassword.scss';
@import './components/login.scss';
@import './components/photoDrop.scss';
@import './components/preferences.scss';
@import './components/matchmaker.scss';
@import './components/matches.scss';
@import './components/profile.scss';
