// @import '../../../node_modules/cutestrap/dist/css/cutestrap.css';
@import "reset.import.scss";
@import "variables.import.scss";
@import "mixins.import.scss";
@import "grid.import.scss";

/***** App-wide Styles *****/

*,
:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.flex { 
  flex: 1;
}

h1 {
  font-family: $accentFont;
  font-size: 3em;
  color: white;
}

h2 {
  @include font-default;
  font-family: $font;
  text-transform: uppercase;
  color: white;
}


h3 {
  @include font-default;
  font-family: $font;
  text-transform: uppercase;
  color: black;
}

p {
  @include font-default;
  font-family: $font;
  color: black;
}

a {
  @include font-default;
  font-family: $font;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

button, input {
  border: 2px solid white;
  background: none;
  padding: 10px 30px;
}

button:hover {
  background-color: $accentColor;
}

.material-icons.md-48 { 
  font-size: 48px; 
}

.material-icons.orange { 
  color: $accentColor; 
}

.white {
  color: white;
}

.black {
  color: black;
}

/***** Individual Components *****/
@import './components/navigation.scss';
@import './components/signup.scss';
@import './components/createPassword.scss';
@import './components/login.scss';
@import './components/photoDrop.scss';
@import './components/preferences.scss';
@import './components/matchmaker.scss';
@import './components/matches.scss';
@import './components/profile.scss';
