@mixin background($image, $color: transparent) {
  background: $color url($image) center/cover no-repeat; 
  height: 100vh;
  width: 100vw;
}

@mixin absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin font-default {
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

@mixin position($align, $justify, $direction: row, $wrap: nowrap) { 
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-flow: $direction $wrap;
}