/* ----- Color Variables ----- */

$accentColor: #EF6124;

/* ----- Fonts ----- */

$accentFont: 'Crushed', cursive;
$defaultFont: 'Open Sans', sans-serif;

/* ----- Z-Indexes ----- */

$zindex-top:         10;
$zindex-top-higher:  100;
$zindex-top-highest: 1000;